#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 190px;
  background-color: #131313;
  border-radius: 15px;
  /* position: relative; */
  margin-bottom: 50px;
}

.swiper-slide {
  /* text-align: center; */
  /* font-size: 18px; */
  background: #232323;
  width: 210px;
  height: 150px;

  margin: auto;
  padding: 10px;
  border-radius: 5px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
/* .customSwiper {

  height: 150px;
  width: 210px;
} */
img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
}
/* .title::after {
  content: " ";
  display: block;
  height: 2px;
  background-color: rgba(203, 203, 203, 0.5);
  margin: 8px 0;
} */

/* .swiper-wrapper {
  position: relative;
} */
.swiper-button-prev::after {
  content: "";
}
/* .swiper-button-next {
  position: absolute;
  color: white;
  right: -20px;
} */
.swiper-button-next::after {
  color: white;
  /* position: absolute; */
  /* right: -20px; */
}
